
- const r = React.createElement;
- const showWhenActive = (sdk !== targetSDK)? Style.Hide: {};
- const highlightWhenActive = (sdk === targetSDK)? Style.platform.Active: {};

a(style=[ Style.platform.link], href="https://docs.skygear.io/guides/installation/"+targetSDK, target="_blank")
  section(style=[ Style.platform.item, highlightWhenActive ])
    span(style=[ Style.platform.icon ], dangerouslySetInnerHTML={__html:Icon[targetSDK]})
    h3(style=[ Style.platform.title ])= title
    p(style=[ Style.platform.desc ])= desc

    div(style=[ Style.project.row, showWhenActive ])
